<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="app.component.css">
  <script src="https://kit.fontawesome.com/60d51b95d2.js" crossorigin="anonymous"></script>
  <link rel="icon" type="image/fav-icon" href="media/favicon.ico">
  <title>Portfolio - Hamza | About Me</title>

</head>

<body>
  <h1>Hamza's Portfolio</h1>

  <div class="innerbody">

    <p>I am Hamza Bulut, 21 years old, and I am studying to become a Software Developer.</p>

    <p>I have been interested in ICT and programming for a long time. Even before my studies, I worked on small
      projects. I am proficient in Dutch, English, and Turkish.</p>

  </div>
  <br>

  <div class="innerbody">
    <!-- Programming Languages Bar -->
    <strong>
      <h3>Programming languages I have worked with.</h3>
    </strong>
    <strong>
      <h4>Here you can see my proficiency level.</h4>
    </strong>

    <div class="flex-container">
      <div>
        <p>Python</p><i class="fab fa-python"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●●●○</p>
      </div>
      <div>
        <p>HTML</p><i class="fab fa-html5"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●●●○</p>
      </div>
      <div>
        <p>CSS</p><i class="fab fa-css3-alt"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●●○○</p>
      </div>
      <div>
        <p>JavaScript</p><i class="fab fa-js"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●○○○</p>
      </div>
      <div>
        <p>MySQL</p><i class="fas fa-database"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●○○○</p>
      </div>
      <div>
        <p>C#</p><i class="fa-solid fa-code"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●○○○○</p>
      </div>

      <div>
        <p>PHP</p><i class="fa-brands fa-php"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●○○○○</p>
      </div>
      <div>
        <p>MicroPython</p><i class="fa-solid fa-gears"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">●●○○○</p>
      </div>
    </div>
  </div>

  <br>

  <div class="innerbody">
    <p>I have been working on a few projects since I was young, and you can see them here.</p>

    <!-- Project #1 -->
    <div class="content-container" data-index="0">
      <div class="content-description">
        <h2>Hypelands</h2>
        <p>Hypelands is a project I started in 2017. It is a custom survival server, similar to <a
            style="color: #0bceff" href="https://minecraft.net">Minecraft</a>, but for the game <a
            style="color: #0bceff" href="https://hytale.com">Hytale</a>. This game has not been released yet, but I have
          created a Discord community and a <a style="color: #0bceff" href="https://hypelands.net">website</a>. I worked
          with my own web server and connecting domains.</p>
        <p style="color: #08e778; display: inline;">What did I learn from this project?</p>
        <p style="color: #0bceff; display: inline;">I learned how to maintain a community, how to use a web server, how
          DNS works, and how domains work.</p>
      </div>
      <div class="content-image">
        <div class="slider">
          <img src="https://hamzadavinci.github.io/media/Hypelands-project-img%201.png"
            alt="Hypelands Project - Image 1">
        </div>
      </div>
    </div>

    <!-- Project #2 -->
    <div class="content-container" data-index="1">
      <div class="content-description">
        <h2>#1 StarveLands</h2>
        <p>StarveLands #1 was a <a style="color: #0bceff" href="https://minecraft.net">Minecraft</a> server where you
          could survive against custom creatures in a world with different zones. There were 3 zones to explore and
          custom NPCs, monsters, and items to discover and craft. The goal of this game was to become the strongest by
          advancing to the stronger zones.</p>
        <p style="color: #08e778; display: inline;">What did I learn from this project?</p>
        <p style="color: #0bceff; display: inline;">I learned how to maintain a community, how to make different plugins
          work together by modifying YML files, and I also learned how to create an online store for Minecraft servers.
        </p>
      </div>
      <div class="content-image">
        <div class="slider">
          <img src="https://hamzadavinci.github.io/media/StarveLands%201%20Image%201.png"
            alt="StarveLands Project - Image 1">
        </div>
      </div>
    </div>

    <!-- Project #3 -->
    <div class="content-container" data-index="2">
      <div class="content-description">
        <h2>#2 StarveLands</h2>
        <p>StarveLands #2 was not the same as the first StarveLands, but it was inspired by it, with NPCs, monsters, and
          items. This server featured a long map with 7 different zones where you had to complete quests to progress to
          the next zone and acquire new items. The goal was to defeat all the zones and eventually defeat a gorilla boss
          by becoming stronger in each zone.</p>
        <p style="color: #08e778; display: inline;">What did I learn from this project?</p>
        <p style="color: #0bceff; display: inline;">I learned how to maintain a community, how to use a Minecraft
          server, how to link a domain with your Minecraft server IP, and how to work with YML files.</p>
      </div>
      <div class="content-image">
        <div class="slider">
          <img src="https://hamzadavinci.github.io/media/StarveLands%202%20Image%201.png"
            alt="StarveLands Project - Image 1">
        </div>
      </div>
    </div>
  </div>

  <br>
  <div class="innerbody">
    <p>My Hobbies.</p>

    <div class="content-container" data-index="0">
      <!-- Hobby #1 -->
      <div class="content-description">
        <h2>Gaming</h2>
        <p>One of my hobbies is gaming. I mainly play these games: <a style="color: #0bceff"
            href="https://www.minecraft.net/">Minecraft</a>, <a style="color: #0bceff"
            href="https://fortnite.com/">Fortnite</a>, <a style="color: #0bceff"
            href="https://playvalorant.com/">Valorant</a>, <a style="color: #0bceff" href="https://osu.ppy.sh/">Osu</a>,
          and sometimes I play other games with friends.</p>
      </div>
      <div class="content-image">
        <div class="slider">
          <img src="https://hamzadavinci.github.io/media/Hamza-hobby-game-img.png" alt="Davinci College">
        </div>
      </div>
    </div>

    <div class="content-container" data-index="1">
      <!-- Hobby #2 -->
      <div class="content-description">
        <h2>Visiting Natural Areas</h2>
        <p>Almost every year when I go on vacation to Turkey, I visit natural places with my family, such as mountains,
          waterfalls, rivers, and other nature areas and viewpoints.</p>
      </div>
      <div class="content-image">
        <div class="slider">
          <img src="https://hamzadavinci.github.io/media/Turkije-img%201.png" alt="Turkey">
        </div>
      </div>
    </div>

  </div>
  <br>
  <div class="innerbody">
    <!-- Contact Bar -->
    <strong>
      <h3>Contact Methods</h3>
    </strong>

    <div class="flex-container">
      <div>
        <p>Discord</p><i class="fa-brands fa-discord"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">Hamzq</p>
      </div>
      <div>
        <p>Email</p><i class="fa-solid fa-envelope"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">99075941&#64;mydavinci.nl</p>
      </div>
      <div><a style="color: #0bceff; font-size: inherit;"
          href="https://github.com/HamzaDavinci/leren_programmeren">GitHub</a><i class="fa-brands fa-github"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255); font-size: inherit;">HamzaDavinci</p>
      </div>
      <div>
        <p>Phone Number</p><i class="fa-solid fa-phone"></i>
        <p style="text-shadow: 0 0 15px rgb(0, 47, 255);">In the CV</p>
      </div>
    </div>
  </div>

  <br>
  <div class="innerbody">
    <!-- Footer -->
    <footer>Made and designed by Hamzq</footer>
  </div>

</body>

</html>